:root {
  --mycolor: rgb(255, 200, 49);
  --shadow: #4e4a4a;
}

body {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 95vh;
  margin: auto;
  padding-left: 20px;
  background-image: url(../src/Images/10-klay-thompson.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  gap: 50px;
}

h1 {
  color: var(--mycolor);
  font-size: 50px;
  text-shadow: 3px 3px var(--shadow);
}

.recent-scores {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 45%;
}

.container {
  display: flex;
}

form button {
  width: fit-content;
  background: var(--mycolor);
  border: none;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 2px var(--shadow);
}

.container button {
  height: fit-content;
  margin: auto;
  background: var(--mycolor);
  border: none;
  font-size: 20px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 2px var(--shadow);
}

form button:hover {
  transform: scale(1.2);
}

.container button:hover {
  transform: scale(1.2);
}

h2 {
  font-size: 30px;
  color: var(--mycolor);
  text-shadow: 3px 2px var(--shadow);
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
}

.scores li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: -20px;
  padding: 5px 10px;
  background-color: var(--mycolor);
  cursor: pointer;
  box-shadow: 0 3px 14px rgba(24, 23, 12, 0.99);
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  border-radius: 14px;
}

.scores li:hover {
  transform: scale(1.1);
}

.add-your-score {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

#name,
#number {
  border: none;
  border-radius: 8px;
  padding-left: 8px;
  height: 25px;
  background: var(--mycolor);
  box-shadow: 3px 2px var(--shadow);
  outline: none;
}
